body {
  margin: 0;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #faebd7;
  padding: 1%;
  height: 25px;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

li {
  padding-right: 30px;
}

#titre {
  border: 2px solid;
  box-shadow: 0px 37px 135px rgb(73, 73, 73);
  height: 500px;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url("img/foret.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  color: white;
  font-size: 70px;
  text-align: center;
  margin-top: 230px;
}

header h2 {
  padding-left: 180px;
}

a {
  text-decoration: none;
  color: black;
  font-size: 18px;
}

section {
  background-color: antiquewhite;
}

#suite {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 100%;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: stretch;
  padding-top: 1%;
}

.enfant {
  padding: 1%;
  margin-left: 1%;
  margin-right: 1%;
  width: 30%;
  height: 300px;
  border: 2px solid antiquewhite;
  border-radius: 20px;
  background-color: rgb(212, 212, 212);
  text-align: center;
}
