body{
    background-color: gray;
}

h1{
    color : purple;
    text-align: center;
}

p{
    font-family: verdana;
    font-size: 20px;
}

#chocolat{
    color:chocolate;
}

.divers{
    color:aliceblue;
}

li{
    font-size: 30px;
    margin-left: 2%;
}

td{
    border: 1px solid black;
}

table{
    border-collapse: collapse;
}

#carre{
    box-shadow: 0 7px 25px white;
   padding: 1%;
    width: fit-content;
    
}